.right {
    border-bottom: 1px solid var(--bs-gray-900);
    border-top: 1px solid var(--bs-gray-900);
    border-right: 1px solid var(--bs-gray-900);
}

.left {
    border: 1px solid var(--bs-gray-900);
}

.oldPrice {
    text-decoration: line-through;
    opacity: 0.5;
}

.imgPage,
.imgModal {
    max-width: 100%;
}

.imgPage {
    padding: 10%;
}

.row {
    --bs-gutter-x: 0;
}

@media screen and (max-width: 768px){
    .left {
        border-bottom: none;
    }
    .right {
        border-left: 1px solid var(--bs-gray-900);
    }
}

