.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 80px;
  border-bottom: 1px solid rgb(18, 18, 18);
  background-color: white;
}

.fullHeight {
  height: 100vh;
}

@media (max-width: 768px) {
  .container {
    padding: 40px 16px;
  }
}
