.imageCol {
  position: relative;
}

.imageContainer {
  border: 1px solid rgb(18, 18, 18);
  border-left: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 720px;
  background-size: cover;
  background-position: center;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.content h2 {
  font-size: 52px;
}

.catalogGrid {
  margin-top: 20px;
  border-bottom: var(--border);
  border-left: var(--border);
}

.searchWrapper {
  padding: 20px;
}

.searchBar {
  border: var(--border);
}

.filtersWrapper {
  padding: 20px;
  background-color: #f8f9fa;
  margin-top: 20px;
  margin-bottom: 20px;
  border: var(--border);
}

.sortDropdown {
  margin-left: 10px;
}

.filtersForm {
  border: var(--border);
}
