.sectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px;
  width: 100%;
}

@media (max-width: 768px) {
  .sectionContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1px;
  }
}

.column1,
.column2 {
  width: 100%;
}

.column2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}
